.navbar{
    z-index: 16;
}
.navContent .remove_linkStyle{
    text-decoration: none;
}
.navContainer-sz{
    min-width: 95px;
}



/*.nav-link:hover{
    cursor: pointer;
}
.signup{
    padding-right: 10px;
    padding-bottom: 60px;
}
.nav-item{
    list-style: none;
}
.registerContainer{
    width: 100px;
    display: flex;
    flex-direction: row;
}

.logout{
    color: black;
    margin-right: 20px;
}
@media(max-width:1024px){
    .signup{
        padding-right: 10px;;
    }
    .form-control{
        margin-top: 20px;
    }
}*/